<h1>Edit password</h1>

<%= form_with model: Current.user, url: edit_password_path, data: { turbo: false } do |f| %>
  <%= render partial: "shared/f_object_errors", locals: { object: f.object } %>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Update password", class: "btn btn-primary" %>
  </div>
<% end %>